[Unit]
Description=Near Oracle Price Updater service

[Service]
User=appuser
ExecStart=/home/appuser/near-price-oracle-bot/run.sh

[Install]
WantedBy=default.target
